body{
    margin:15px
    padding:10px;
    background-color:whitesmoke;
header{
    display: flex;
    height: 100px;
    background-color: rgb(156, 54, 20);
    border-radius: 3px;
}
header h1{
    padding-left:10px;
    color:rgb(212, 144, 72);
}
header a{
    text-decoration: none;
    display: flex;
    align-items:center;
}
.banner-img{
    height: 100%;
    width: auto;
    
    margin-left: auto; /* pushes image to the right in flexbox */
    display: block;
}
nav {
    background-color: rgb(156, 54, 20);
    padding: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

nav ul li {
    background-color: rgb(156, 54, 20);
    list-style-type:none;
    text-decoration: none;
    display: inline-block;
    margin-left: 3px;
    border-right: 3px solid rgb(161, 82, 51);
}
nav ul li a{
    display:inline-block;
    font-size: xx-large;
    font-weight: 500;
    text-decoration: none;
    /* background-color: rgb(161, 82, 51); */
    color:rgb(212, 144, 72);
    padding-right: 10px;
}
nav ul li a:hover {
    background-color: rgb(161, 82, 51);
    color: white;
}